<a href="https://colab.research.google.com/github/Syntax-code/Codes/blob/master/Replacement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Input:

 Input contains sequence with N integers. All elements of the sequence > 0. The sequenc will never be empty.

Output:

 Return sequence with N integers — which includes the lowest possible values of each sequence element, after the single replacement and sorting has been performed.

Examples:

([1,2,3,4,5])  =>  [1,1,2,3,4]

([4,2,1,3,5])  =>  [1,1,2,3,4]

([2,3,4,5,6])  =>  [1,2,3,4,5]

([2,2,2])      =>  [1,2,2]

([42])         =>  [1]

In [0]:
def sort_number(a):
  l = len(a)
  a.sort()
  if (l == 1) & (a[0] != 1):
    a = [1]
  elif (l == 1) & (a[0] == 1):
    a = [2]
  elif a == [1,1,1] :
    a = [1,1,2]
  else:
    a.pop()
    a = [1] + a
  return a

In [0]:
print(sort_number([42]]))

[1, 1, 2, 3, 4]